html,
body {
  height: 100%;
}
body {
  background: #349aed;
  background: linear-gradient(145deg, #349aed 50%, #34d8ed 100%);
  color: #fff;
  font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
h1 {
  text-align: center;
  font-size: 48px;
}
p {
  align-content: center;
  text-align: center;
  font-size: 24px;
  color: black;
}
.pic-container {
  position: absolute;
  top: 0px;
  width: 100%;
  /* margin: 0px auto; */
  background-color: orange;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1rem;
  flex-wrap: wrap;
  height: 7.5%;
}
hidden-container2 {
  display: none;
  /* background: #349aed; */
  /* background: linear-gradient(145deg, #349aed 50%, #34d8ed 100%); */
  color: #fff;
}
.startsection {
  height: 300px;
}
.start-container {
  display: flex;
  background: url("photos/camera.jpg");
  width: 100vw;
  height: 100vh;
}
#title {
  display: flex;
  align-items: center;
  position: absolute;
  top: 200px;
  left: 42%;
  font-size: 60px;
  color: orange;
}
#startGame {
  position: absolute;
  top: 250px;
  left: 50%;
  text-align: center;
  justify-items: center;
  font-size: 30px;
  color: steelblue;
  border: 2px solid slategrey;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #768d87),
    color-stop(1, #6c7c7c)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
  background-color: #768d87;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
}
.startGame:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #6c7c7c),
    color-stop(1, #768d87)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
  background-color: #6c7c7c;
}

#startGame {
  position: absolute;
  top: 350px;
  left: 50%;
  text-align: center;
  justify-items: center;
  font-size: 30px;
  color: steelblue;
  border: 2px solid slategrey;
  -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
  -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #768d87),
    color-stop(1, #6c7c7c)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
  background-color: #768d87;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
}
.startGame:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #6c7c7c),
    color-stop(1, #768d87)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
  background-color: #6c7c7c;
}

.startGame:active {
  position: absolute;
  top: 251px;
}

#countdown {
  font-size: 20px;
  display: inline-block;
  margin: 0 auto;
}

.timer {
  position: relative;
  top: -20px;
  border-radius: 100px;
  background-color: orange;
  color: white;
  font-size: 25px;
  height: 10px;
  width: 150px;
  left: 12.5%;
  padding: 20px;
  text-align: center;
  word-wrap: break-word;
}
#mainCard {
  border-radius: 100px;
  top: -74px;
  position: relative;
  text-align: center;
  align-content: center;
  word-wrap: break-word;
  background-color: orange;
  font-size: 25px;
  height: 10px;
  width: 150px;
  left: 22.5%;
  padding: 20px;
  margin: 0 auto;
}

aside {
  position: relative;
  top: 100px;
  height: 10px;
  width: 100%;
  padding: 30px;
  text-align: center;
  align-items: center;
}
.pic-box {
  margin-right: 2px;
  align-items: center;
}
.question {
  position: relative;
  top: 125px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
  overflow: auto;
  justify-content: space-evenly;
  font-style: italic;
  font-size: 150%;
  overflow: auto;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  word-wrap: break-word;
  border-style: 5px outset black;
}
.question-container {
  position: relative;
  top: 140px;
  height: 350px;
  word-wrap: break-word;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  border-radius: 4px;
  border-style: 5px outset black;
  cursor: pointer;
  overflow: hidden;
}
.answer {
  display: flex;
  justify-content: space-around;
  background-color: orange;
  color: white;
  height: 20px;
  top: 30px;
  width: 30%;
  height: 30%;
  padding: 25px;
  padding-top: 30px;
  padding-bottom: 25px;
  border-radius: 12px;
  align-items: center;
  border-style: 5px outset black;
}

#userName {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  left: 45%;
  top: 300px;
  color: orange;
}

#endGame {
  position: absolute;
  top: 350px;
  left: 50%;
  text-align: center;
  justify-items: center;
  font-size: 30px;
  color: steelblue;
  border: 2px solid slategrey;
  -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
  -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  /* background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #768d87),
    color-stop(1, #6c7c7c)
  ); */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
  background-color: #768d87;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
}
.endGame:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #6c7c7c),
    color-stop(1, #768d87)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
  background-color: #6c7c7c;
}

.endGame:active {
  /* position: absolute; */
  top: 251px;
}
aftergame {
  display: none;
  color: white;
  text-align: center;
}
